$ Python $ - $ Dictionary $

In [3]:
name=['Ram','Raheem','Abdul']
age=[23,45,34]
for i,j in zip(name,age):
    print(i,'--',j)

Ram -- 23
Raheem -- 45
Abdul -- 34

In [14]:
dict1={'ram':23,'Raheem':23}
dict1
len(dict1)
max(dict1)
min(dict1)
type(dict1)

dict

-   max and min values are based on keys only but not values
-   Key value pair, Key should be one value
-    If we provide multiple value at key position it will fail
-   Duplicates are not allowed    #eg: {'Mobin':'Human', 'Mobin':'Human'}===op={'mobin':'Human'}
-  If keys are same it takes last value.
-  If we iterate through for loop, only keys is output but values are not come

-   dict1={'ram':23,'Raheem':23}

    for i in dict1:
    
    
        print(i)
 -   Dictionary values retrive only based on keys only, It fails using Index

In [15]:
dict1={'name':['Raheem','Ram','Raj'],'age':[23,23,45]}
dict1

{'name': ['Raheem', 'Ram', 'Raj'], 'age': [23, 23, 45]}

In [18]:
dict1={23:'ram'}
dict1

{23: 'ram'}

In [19]:
dict1={['Raheem','Ram','Raj']:'names'}
dict1

TypeError: unhashable type: 'list'

In [20]:
dict1={20:12}
dict1

{20: 12}

In [21]:
d={['A']:'Apple','B':10.5,'C':['a']}

TypeError: unhashable type: 'list'

In [23]:
d={'fruits':{'like':['Apple','Mango']}}   #json file type
d

{'fruits': {'like': ['Apple', 'Mango']}}

In [24]:
d1={'Anu':23}
d1

{'Anu': 23}

In [25]:
'Anu' in d1

True

In [27]:
dict1={'ram':23,'Raheem':28}
for i in dict1:
    print(i,'--',dict1[i])

ram 23
Raheem 23

In [28]:
dict1={'ram':[20,23]}
for i in dict1:
    print(i,'--',dict1[i])

ram -- [20, 23]

In [33]:
dict1={'ram':(20,23)}
for i in dict1:
    print(i,'--',dict1[i])

ram -- (20, 23)

In [31]:
num=20,30
num

(20, 30)

In [39]:
dict1={'names':['Ram','Raheem','Raj'],'ages':[10,20,34]}
for i in range(3):
    print(dict1['names'][i],dict1['ages'][i])

Ram 10
Raheem 20
Raj 34

In [40]:
d1={'hello':{'hello':{'hello':'python'}}}
print(d1['hello']['hello']['hello'])

python

In [47]:
d2={'hello':[{'fruits':['Apple','banana',{'like':['cherry']}]}]}

d2['hello'][0]['fruits'][2]['like'][0]

'cherry'

In [49]:
#how to create empty dictionary..
dict1={}
dict1['CIEL']=['hyd','Blr','chennai']
dict1

{'CIEL': ['hyd', 'Blr', 'chennai']}

In [50]:
dict1['HR']='Recruiter'

In [51]:
dict1

{'CIEL': ['hyd', 'Blr', 'chennai'], 'HR': 'Recruiter'}

In [52]:
dict2={}
dict2['Apple']='fruit'
dict2['car']='Vehicle'
dict2

{'Apple': 'fruit', 'car': 'Vehicle'}

In [64]:
#wap ask user to get 5 random no.s perform even or odd 
#print{'even':[],'odd':[]}
dict1={}
list1,list2=[],[]
import random
for i in range(5):
    n=random.randint(1,10)
    if n%2==0:
        list1.append(n)
    else:
        list2.append(n)
dict1['even']=list1
dict1['odd']=list2
dict1

{'even': [10, 10, 8], 'odd': [3, 7]}

In [35]:
{'even':'list1' i for i in range(5) n list1.append(n) if n%2==0 'odd':'list2' else:list2.append(n) }

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3294276056.py, line 1)

In [8]:
"Apple".swapcase()

'aPPLE'

In [10]:
def swap_case():
    s='Weare_HUmaNs'
    s=s.swapcase()
    print(s)
    
swap_case()

wEARE_huMAnS

In [11]:
dict1={'names':['Ram','Raheem','Raj'],'ages':[10,20,34]}
dict1.items()   #all will come

dict_items([('names', ['Ram', 'Raheem', 'Raj']), ('ages', [10, 20, 34])])

In [12]:
for i,j in dict1.items():
    print(i,' :',j)

names  : ['Ram', 'Raheem', 'Raj']
ages  : [10, 20, 34]

In [13]:
list(dict1.items())

[('names', ['Ram', 'Raheem', 'Raj']), ('ages', [10, 20, 34])]

In [14]:
type(dict1.items())

dict_items

In [15]:
for i in dict1.items():             #i=(a,b)=====i=a,j=b also possible
    print(i)                      #its a packed example

('names', ['Ram', 'Raheem', 'Raj'])
('ages', [10, 20, 34])

In [16]:
for i,j in dict1.items():
    print(i,':',j)

names : ['Ram', 'Raheem', 'Raj']
ages : [10, 20, 34]

In [29]:
keys=['A','B','C']
values=['1','2','3']

dict1={}
for i,j in zip(keys,values):
    dict1[i]=j
dict1

{'A': '1', 'B': '2', 'C': '3'}

In [30]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
{i:j for i,j in zip(keys,values)}

{'A': '1', 'B': '2', 'C': '3'}

$get$

In [36]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [37]:
dict1

{'A': '1', 'B': '2', 'C': '3'}

In [39]:
dict1.get("A")

'1'

In [41]:
dict1.get('a')

In [44]:
dict1.clear()
dict1

{}

In [50]:
dict1={'A': '1', 'B': '2', 'C': '3'}
dict2=dict1.copy()
dict1.clear()
print(dict1)
print(dict2)

{}
{'A': '1', 'B': '2', 'C': '3'}

In [52]:
dict2

{'A': '1', 'B': '2', 'C': '3'}

In [54]:
dict2.pop('A')

'1'

In [55]:
dict2

{'B': '2', 'C': '3'}

In [56]:
dict2.popitem()

('C', '3')

In [57]:
dict2

{'B': '2'}

In [66]:
dict1={'A': '1', 'B': '2', 'C': '3'}
dict1.pop('A','B')
dict1

{'B': '2', 'C': '3'}

In [67]:
#del is a keyword
del dict1['C']

In [68]:
dict1

{'B': '2'}

In [ ]:
#pop and del both are same

In [69]:
dict1={'course':'Python','duration':4,'Inst':'CIEL'}
dict1.fromkeys('python',10)

{'p': 10, 'y': 10, 't': 10, 'h': 10, 'o': 10, 'n': 10}

In [72]:
list1=[1,2,3,4,5]
dict1.fromkeys(list1,10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}

In [3]:
list1=['hyderabad','chennai','bengaluru']
list2=[]
for i in list1:
    list2.append(i.capitalize())

list2

['Hyderabad', 'Chennai', 'Bengaluru']

In [4]:
[i.capitalize() for i in list1]

['Hyderabad', 'Chennai', 'Bengaluru']

In [12]:
#step1:create a lambda function

list1=['hyderabad', 'chennai', 'bengaluru']

lambda i:i.capitalize()

In [9]:
#step2:add iterater

list1=['hyderabad', 'chennai', 'bengaluru']
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyderabad', 'chennai', 'bengaluru'])

In [10]:
#step3
list1=['hyderabad', 'chennai', 'bengaluru']

map(lambda i:i.capitalize(),list1)

In [11]:
#step4
list1=['hyderabad', 'chennai', 'bengaluru']

list(map(lambda i:i.capitalize(),list1))

['Hyderabad', 'Chennai', 'Bengaluru']

In [18]:
l1=[1,2,3,4]        #output=[1,4,9,16]
lambda i:i*i,l1
list(map(lambda i:i*i,l1))

[1, 4, 9, 16]

In [20]:
l2=['biryani','hyd','Buvaneswar','rasagulla']
list(map(lambda i:len(i)>3,l2))

[True, False, True, True]

$filter$

In [21]:
l2=['biryani','hyd','Buvaneswar','rasagulla']      #whenever we apply condition we need to add filter function
list(filter(lambda i:len(i)>3,l2))

['biryani', 'Buvaneswar', 'rasagulla']

In [23]:
l2=['biry#ani','hy#d','Buvan#eswar','rasagulla']
list(filter(lambda i:'#' in i,l2))

['biry#ani', 'hy#d', 'Buvan#eswar']

In [40]:
l3=[1,2,3,4,5,6,7,8]
d1={}
d1['even']=list(filter(lambda i:i%2==0,l3))
d1['odd']=list(filter(lambda i:i%2!=0,l3))
d1

{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}

In [43]:
l3=[1,2,3,4,5,6,7,8]


list(map(lambda i:{i:'even'} if i%2==0 else {i:'odd'},l3))

[{1: 'odd'},
 {2: 'even'},
 {3: 'odd'},
 {4: 'even'},
 {5: 'odd'},
 {6: 'even'},
 {7: 'odd'},
 {8: 'even'}]

In [ ]:
d1={'A':300,'B'=200,'C'=400}
d2={'A':200,'B'=150,'C'=300}
for i,j in d1,d2:

In [ ]:
#azure certification==with student ID

In [1]:
'python is the best language'.capitalize()

'Python is the best language'